@{
    ViewData["Title"] = "Admin Panel";
}

<div class="mt-4 p-5 text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <p class="lead mb-1 mt-3">
        This is your administrator area - you can <b>read</b>,
        <b>delete</b> and <b>edit</b> all products, all companies and all reviews in the application in one place.
        <br />You can view all orders and their details.
    </p>
    <p class="lead mt-1">
        You can also manage all users in the app and create other admin accounts.
    </p>
    <hr class="my-4">
    <a asp-area="Admin" asp-controller="Company" asp-action="All"
       class="btn btn-primary btn-lg">All Companies</a>
    <span>  |   </span>
    <a asp-area="" asp-controller="" asp-action=""
       class="btn btn-primary btn-lg">All Products</a>
    <span>  |   </span>
    <a asp-area="" asp-controller="" asp-action=""
       class="btn btn-primary btn-lg">All Users</a>
    <span>  |   </span>
    <a asp-area="" asp-controller="" asp-action=""
       class="btn btn-primary btn-lg">All Orders</a>
    <span>  |   </span>
    <a asp-area="" asp-controller="" asp-action=""
       class="btn btn-primary btn-lg">All Company Reviews</a>
    <span>  |   </span>
    <a asp-area="" asp-controller="" asp-action=""
       class="btn btn-primary btn-lg">All Product Reviews</a>
    <span>  |   </span>
    <a asp-area="" asp-controller="" asp-action=""
       class="btn btn-warning btn-lg mt-4">Add Admin User</a>
</div>