@{
    ViewBag.Title = "Bike List";
}


@{
    bool isUserRegisteredAsACompany = User.HasClaim("companyUser", "");
}

<div class="text-center mt-3">
    <h2>Bikes</h2>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 left-section">
            <div class="input-group mb-3">
                <input type="text" id="search" class="form-control" placeholder="Search...">
            </div>
            <div class="card mb-3 filter-section">
                <div class="card-header bg-primary text-white">
                    Filters
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="perPage">Products per Page:</label>
                        <select class="form-control" id="perPage">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sort">Sort By:</label>
                        <select class="form-control" id="sort">
                            <option value="0">Name (Descending)</option>
                            <option value="1">Name (Ascending)</option>
                            <option value="2">Price (Descending)</option>
                            <option value="3">Price (Ascending)</option>
                            <option value="4">Quantity (Descending)</option>
                            <option value="5">Quantity (Ascending)</option>
                            <option value="6">Range (Descending)</option>
                            <option value="7">Range (Ascending)</option>
                            <option value="8">MaxSpeed (Descending)</option>
                            <option value="9">MaxSpeed (Ascending)</option>
                            <option value="10">EnginePower (Descending)</option>
                            <option value="11">EnginePower (Ascending)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="type">Type:</label>
                        <select class="form-control" id="type">
                            <option value="0">All</option>
                            <option value="1">City</option>
                            <option value="2">Mountain</option>
                            <option value="3">Road</option>
                            <option value="4">Cargo</option>
                            <option value="5">FatTire</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="suspensionType">Suspension Type:</label>
                        <select class="form-control" id="suspensionType">
                            <option value="0">All</option>
                            <option value="1">None</option>
                            <option value="2">Front</option>
                            <option value="3">Rear</option>
                            <option value="4">Full</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="frameType">Frame Type:</label>
                        <select class="form-control" id="frameType">
                            <option value="0">All</option>
                            <option value="1">Foldable</option>
                            <option value="2">NotFoldable</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="engineType">Engine Type:</label>
                        <select class="form-control" id="engineType">
                            <option value="0">All</option>
                            <option value="1">Rear</option>
                            <option value="2">Middle</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="brakesType">Brakes Type:</label>
                        <select class="form-control" id="brakesType">
                            <option value="0">All</option>
                            <option value="1">Rim Brakes</option>
                            <option value="2">Disc Brakes</option>
                            <option value="3">Hydraulic Brakes</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 right-section">
            <div class="row" id="productsContainer">
            </div>
        </div>
        <div class="text-center mt-5">
            <button type="button" class="btn btn-primary" id="previousPage">Previous</button>
            <button type="button" class="btn btn-primary" id="nextPage">Next</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var currentPage = 1; 
        var isUserRegisteredAsACompany = @isUserRegisteredAsACompany.ToString().ToLower();

        loadData();

        $('#search').on('input', function () {
            currentPage = 1; 
            loadData();
        });

    
        $('#sort').on('change', function () {
            currentPage = 1;
            loadData();
        });

       
        $('#type').on('change', function () {
            currentPage = 1; 
            loadData();
        });

        
        $('#perPage').on('change', function () {
            currentPage = 1; 
            loadData();
        });

        $('#engineType').on('change', function () {
            currentPage = 1; 
            loadData();
        });

        $('#brakesType').on('change', function () {
            currentPage = 1;
            loadData();
        });
        
        $('#suspensionType').on('change', function () {
            currentPage = 1; 
            loadData();
        });
        
        $('#frameType').on('change', function () {
            currentPage = 1; 
            loadData();
        });

       
        $('#previousPage').on('click', function () {
            if (currentPage > 1) {
                loadData('previous');
            }
        });

        $('#nextPage').on('click', function () {
            loadData('next');
        });

        function loadData(pageDirection) {
            var search = $('#search').val();
            var sort = $('#sort').val();
            var perPage = $('#perPage').val();
            var type = $('#type').val();
            var engineType = $('#engineType').val();
            var brakesType = $('#brakesType').val();
            var suspensionType = $('#suspensionType').val();
            var frameType = $('#frameType').val();


            if (pageDirection === 'previous' && currentPage > 1) {
                currentPage--;
            } else if (pageDirection === 'next') {
                currentPage++;
            }

            $.ajax({
                url: '/Bike/AllFilteredAndPaged',
                type: 'GET',
                data: {
                    searchTerm: search,
                    bikeSorting: sort,
                    bikesPerPage: perPage,
                    currentPage: currentPage,
                    queryBikeType: type,
                    queryBikeEngineType: engineType, 
                    queryBikeBrakesType: brakesType, 
                    queryBikeSuspensionType: suspensionType,
                    queryBikeFrameType: frameType
                },
                success: function (result) {
                    $('#productsContainer').empty();

                    result.bikes.forEach(function (bike) {
                        var card =
                            '<div class="card mb-3">' +
                            '<div class="row g-0">' +
                            '<div class="col-md-5">' +
                            '<img src="data:' +
                            bike.product.image.imageType +
                            ';base64,' +
                            bike.product.image.data +
                            '" class="img-fluid image-equal" alt="Company Image">' +
                            '</div>' +
                            '<div class="col-md-7">' +
                            '<div class="card-body">' +
                            '<h5 class="card-title">' +
                            bike.product.name +
                            '</h5>' +
                            '<p class="card-text">' +
                            '<strong>Price:</strong> ' +
                            bike.product.price +
                            '<br>' +
                            '<strong>Quantity:</strong> ' +
                            bike.product.quantity +
                            '<br>' +
                            '<strong>Brand:</strong> ' +
                            bike.brand +
                            '<br>' +
                            '<strong>Color:</strong> ' +
                            bike.color +
                            '<br>' +
                            '<strong>Range:</strong> ' +
                            bike.range +
                            ' km<br>' +
                            '<strong>Max Speed:</strong> ' +
                            bike.maxSpeed +
                            ' km/h<br>' +
                            '<strong>Engine Power:</strong> ' +
                            bike.enginePower +
                            ' kW<br>' +
                            '<strong>Model:</strong> ' +
                            bike.model +
                            '<br>' +                           
                            '<strong>Bike Type:</strong> ' +
                            bike.bikeType +
                            '<br>' +
                            '<strong>Engine Type:</strong> ' +
                            bike.engineType +
                            '<br>' +
                            '<strong>Brakes Type:</strong> ' +
                            bike.brakesType +
                            '<br>' +
                            '<strong>Suspension Type:</strong> ' +
                            bike.suspensionType +
                            '<br>' +
                            '<strong>Frame Type:</strong> ' +
                            bike.frameType +
                            '<br>' +
                            '</p>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '<div class="card-footer d-flex justify-content-center">' +
                            '<div class="btn-group" role="group">' +
                            '<a href="/Bike/Details/' +
                            bike.id +
                            '" class="btn btn-primary">Details</a>';

                        if (!isUserRegisteredAsACompany) {
                            card +=
                                '<a href="/Cart/AddToCart/' +
                                bike.product.id +
                                '" class="btn btn-success">Add to Cart</a>' +
                                '<a href="/Review/AddToProduct/' +
                                bike.product.id +
                                '" class="btn btn-info">Add Review</a>';
                        }

                       
                        card += '</div>' + '</div>' + '</div>';

                        $('#productsContainer').append(card);
                    });

                    
                    $('#previousPage').prop('disabled', currentPage === 1);
                    $('#nextPage').prop('disabled', currentPage === result.totalPages);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    });
</script>