@using ThinkElectric.Web.Infrastructure.Extensions
﻿@{
    ViewBag.Title = "Product List";
}

@{
    bool isUserRegisteredAsACompany = User.HasClaim("companyUser", "");

    string currentUserCompanyId = string.Empty;

    bool isUserAdmin = User.IsAdmin();

    if (isUserRegisteredAsACompany)
    {
        currentUserCompanyId = User.GetCompanyId()!;
    }
}

<input type="hidden" id="isUserRegisteredAsACompany" value="@isUserRegisteredAsACompany.ToString().ToLower()" />
<input type="hidden" id="currentUserCompanyId" value="@currentUserCompanyId.ToLower()" />
<input type="hidden" id="isUserAdmin" value="@isUserAdmin.ToString().ToLower()" />

 <div class="text-center mt-3">
    <h2 class="cool-font2">Products</h2>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="search">Search:</label>
            <input type="text" class="form-control" id="search" placeholder="Search">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="type">Type:</label>
            <select class="form-control" id="type">
                <option value="0">All</option>
                <option value="1">Scooter</option>
                <option value="2">Bike</option>
                <option value="3">Accessory</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="sort">Sort By:</label>
            <select class="form-control" id="sort">
                <option value="0">Name (Descending)</option>
                <option value="1">Name (Ascending)</option>
                <option value="2">Price (Descending)</option>
                <option value="3">Price (Ascending)</option>
                <option value="4">Quantity (Descending)</option>
                <option value="5">Quantity (Ascending)</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="perPage">Products per Page:</label>
            <select class="form-control" id="perPage">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
        </div>
    </div>
</div>

<div class="row mt-5" id="productContainer">
</div>

<div class="text-center mt-5">
    <button type="button" class="btn btn-primary" id="previousPage">Previous</button>
    <button type="button" class="btn btn-primary" id="nextPage">Next</button>
</div>

<script src="~/js/product-list.js" asp-append-version="true"></script>