﻿@{
    ViewBag.Title = "Product List";
}

@{
    bool isUserRegisteredAsACompany = User.HasClaim("companyUser", "");

    string companyId = "";

    if (isUserRegisteredAsACompany)
    {
        companyId = User.Claims.FirstOrDefault(c => c.Type == "companyId")!.Value;
    }
}

<div class="text-center mt-3">
    <h2>Products</h2>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="search">Search:</label>
            <input type="text" class="form-control" id="search" placeholder="Search">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="type">Type:</label>
            <select class="form-control" id="type">
                <option value="0">All</option>
                <option value="1">Scooter</option>
                <option value="2">Bike</option>
                <option value="3">Accessory</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="sort">Sort By:</label>
            <select class="form-control" id="sort">
                <option value="0">Name (Descending)</option>
                <option value="1">Name (Ascending)</option>
                <option value="2">Price (Descending)</option>
                <option value="3">Price (Ascending)</option>
                <option value="4">Quantity (Descending)</option>
                <option value="5">Quantity (Ascending)</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="perPage">Products per Page:</label>
            <select class="form-control" id="perPage">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
        </div>
    </div>
</div>

<div class="row mt-5" id="productContainer">
</div>

<div class="text-center mt-5">
    <button type="button" class="btn btn-primary" id="previousPage">Previous</button>
    <button type="button" class="btn btn-primary" id="nextPage">Next</button>
</div>

<script>
    $(document).ready(function () {
        var currentPage = 1; 

        var isUserRegisteredAsACompany = @isUserRegisteredAsACompany.ToString().ToLower();

        var currentUserCompanyId = '@companyId.ToLower()';

        var url = window.location.href;
        var parts = url.split('/');
        var companyId = parts.pop();

        loadData();

        $('#search').on('input', function () {
            currentPage = 1;
            loadData();
        });

        $('#sort').on('change', function () {
            currentPage = 1; 
            loadData();
        });

        $('#type').on('change', function () {
            currentPage = 1; 
            loadData();
        });

    
        $('#perPage').on('change', function () {
            currentPage = 1; 
            loadData();
        });

        
        $('#previousPage').on('click', function () {
            if (currentPage > 1) {
                loadData('previous');
            }
        });

        
        $('#nextPage').on('click', function () {
            loadData('next');
        });

        function loadData(pageDirection) {
            var search = $('#search').val();
            var sort = $('#sort').val();
            var perPage = $('#perPage').val();
            var type = $('#type').val();

            if (pageDirection === 'previous' && currentPage > 1) {
                currentPage--;
            } else if (pageDirection === 'next') {
                currentPage++;
            }

            $.ajax({
                url: '/Product/AllByCompanyIdFilteredAndPaged',
                type: 'GET',
                data: {
                    searchTerm: search,
                    productSorting: sort,
                    productsPerPage: perPage,
                    currentPage: currentPage,
                    companyId: companyId,
                    queryProductType: type
                },
                success: function (result) {
                    $('#productContainer').empty();

                    result.products.forEach(function (product) {
                        var card = '<div class="col-md-6 col-lg-4">' +
                            '<div class="card">' +
                            '<img src="data:' + product.image.imageType + ';base64,' + product.image.data + '" class="img-fluid image-equal" alt="Company Image">' +
                            '<div class="card-body">' +
                            '<h5 class="card-title">' + product.name + '</h5>' +
                            '<p class="card-text">' +
                            '<strong>Price: </strong>' + product.price + '<br>' +
                            '<strong>Quantity:</strong> ' + product.quantity + '<br>' +
                            '<strong>Added On:</strong> ' + product.createdOn + '<br>' +
                            '<strong>Type:</strong> ' + product.productType + '<br>' +
                            '</p>' +
                            '</div>' +
                            '<div class="card-footer d-flex justify-content-center">' +
                            '<div class="btn-group" role="group">' +
                            '<a href="/Product/Details/' + product.id + '" class="btn btn-primary">Details</a>';

                        
                        if (!isUserRegisteredAsACompany) {
                            card += '<a href="/Cart/AddToCart/' + product.id + '" class="btn btn-success">Add to Cart</a>' +
                                '<a href="/Review/AddToProduct/' + product.id + '" class="btn btn-info">Add Review</a>';
                        }
                        else if (product.companyId == currentUserCompanyId) {
                            card += '<a href="/Product/Edit/' + product.id + '" class="btn btn-warning">Edit</a>' +
                                '<a href="/Product/Delete/' + product.id + '" class="btn btn-danger">Delete</a>';
                        }

                       
                        card += '</div>' +
                            '</div>' +
                            '</div></div>';

                        $('#productContainer').append(card);
                    });

                    
                    $('#previousPage').prop('disabled', currentPage === 1);
                    $('#nextPage').prop('disabled', currentPage === result.totalPages);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    });
</script>