@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ThinkElectric.Services.Contracts
@using System.Security.Claims

@inject IUserService UserService
@{
    bool isRegisteredAsCompany = false;

    if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        isRegisteredAsCompany = await UserService.IsRegisteredAsCompanyAsync(User.FindFirstValue(ClaimTypes.NameIdentifier));
    }
}

@if (User.Identity != null && User.Identity.IsAuthenticated && isRegisteredAsCompany)
{
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add Product</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-controller="Scooter" asp-action="Create">Add Scooter</a>
                <a class="dropdown-item" asp-controller="Bike" asp-action="Create">Add Bike</a>
                <a class="dropdown-item" asp-controller="Accessory" asp-action="Create">Add Accessory</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Company</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-controller="Product" asp-action="AllByCompanyId" asp-route-id="@User.FindFirst("companyId")!.Value">Products</a>
                <a class="dropdown-item" asp-controller="Order" asp-action="AllCompanyOrders">Orders</a>
                <a class="dropdown-item" asp-controller="Company" asp-action="Details" asp-route-id="@User.FindFirst("companyId")!.Value">Company Details</a>
            </div>
        </li>
    </ul>
}
else if (User.Identity != null && User.Identity.IsAuthenticated && !isRegisteredAsCompany)
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="All">
                <span style="display: flex; align-items: center;">
                    <i class="fas fa-shopping-cart" style="margin-right: 5px;"></i> Cart
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Order" asp-action="AllUserOrders">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="All">Reviews</a>
        </li>
    </ul>
}