@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Company</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Products</a>
                <a class="dropdown-item" href="#">Orders</a>
                <a class="dropdown-item" asp-controller="Company" asp-action="Details" asp-route-id="@User.FindFirst("Company")!.Value">Company Details</a>
            </div>
        </li>
    </ul>
}