html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-nav .nav-link {
    color: #ffffff; 
}
.details-field {
    background-color: #9ea3a0;
}

.image-equal {
    height: 300px;
    object-fit: fill;
    object-position: center;
}

    .big-button {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 260px; /* 100% of the viewport width */
        height: 260px; /* 100% of the viewport height */
        color: #9ea3a0; /* Text color */
        display: ruby-base;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }