@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CompanyCreateViewModel

@{
    ViewData["Title"] = "Create Company";
}

<div class="container">
    <h2>Create Company</h2>

    <form asp-action="Create" asp-controller="Company" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <h6 class="text-info">Is that also your company's email address? If not please update this field.</h6>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            <h6 class="text-info">Is that also your company's phone number? If not please update this field.</h6>
        </div>

        <div class="form-group">
            <label asp-for="Website"></label>
            <input asp-for="Website" class="form-control" />
            <span asp-validation-for="Website" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FoundedDate"></label>
            <input asp-for="FoundedDate" class="form-control" type="date" />
            <span asp-validation-for="FoundedDate" class="text-danger"></span>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Address.Country"></label>
                <input asp-for="Address.Country" class="form-control" />
                <span asp-validation-for="Address.Country" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Address.City"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Address.Street"></label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Address.ZipCode"></label>
                <input asp-for="Address.ZipCode" class="form-control" />
                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group mt-5">
            <label for="ImageFile">Upload Logo</label>
            <input type="file" name="ImageFile" id="ImageFile" class="form-control-file">
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}