@using ThinkElectric.Web.Infrastructure.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Accessory List";
}


@{
    bool isUserRegisteredAsACompany = User.HasClaim("companyUser", string.Empty);

    bool isUserAdmin = User.IsAdmin();

    string currentUserCompanyId = string.Empty;

    if (isUserRegisteredAsACompany)
    {
        currentUserCompanyId = User.GetCompanyId()!;
    }
}

<input type="hidden" id="isUserRegisteredAsACompany" value="@isUserRegisteredAsACompany.ToString().ToLower()" />
<input type="hidden" id="currentUserCompanyId" value="@currentUserCompanyId.ToLower()" />
<input type="hidden" id="isUserAdmin" value="@isUserAdmin.ToString().ToLower()" />

<div class="text-center mt-3">
    <h2>Accessories</h2>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 left-section">
            <div class="input-group mb-3">
                <input type="text" id="search" class="form-control" placeholder="Search...">
            </div>
            <div class="card mb-3 filter-section">
                <div class="card-header bg-primary text-white">
                    Filters
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="perPage">Products per Page:</label>
                        <select class="form-control" id="perPage">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sort">Sort By:</label>
                        <select class="form-control" id="sort">
                            <option value="0">Name (Descending)</option>
                            <option value="1">Name (Ascending)</option>
                            <option value="2">Price (Descending)</option>
                            <option value="3">Price (Ascending)</option>
                            <option value="4">Quantity (Descending)</option>
                            <option value="5">Quantity (Ascending)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 right-section">
            <div class="row" id="productsContainer">
            </div>
        </div>
        <div class="text-center mt-5">
            <button type="button" class="btn btn-primary" id="previousPage">Previous</button>
            <button type="button" class="btn btn-primary" id="nextPage">Next</button>
        </div>
    </div>
</div>

<script src="~/js/accessory-list.js"></script>