@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AccessoryCreateViewModel

@{
    ViewData["Title"] = "Create Accessory";
}

<div class="container">
    <h2>Add Scooter</h2>

    <form asp-action="Create" asp-controller="Accessory" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Product.Name"></label>
            <input asp-for="Product.Name" class="form-control" placeholder="Enter name here..." />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.Price"></label>
            <input asp-for="Product.Price" class="form-control" placeholder="Enter price here..." />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.Quantity"></label>
            <input asp-for="Product.Quantity" type="number" class="form-control" placeholder="Enter initial quantity here..." />
            <span asp-validation-for="Product.Quantity" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Brand"></label>
            <input asp-for="Brand" class="form-control" placeholder="Enter the accessory brand name here..." />
            <span asp-validation-for="Brand" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" placeholder="Enter the accessory description here..." />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="CompatibleBrand"></label>
            <input asp-for="CompatibleBrand" class="form-control" placeholder="Enter compatible brand here..." />
            <span asp-validation-for="CompatibleBrand" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="CompatibleModel"></label>
            <input asp-for="CompatibleModel" class="form-control" placeholder="Enter compatible scooterModel here..." />
            <span asp-validation-for="CompatibleModel" class="text-danger"></span>
        </div>

        <div class="form-group mt-5">
            <label for="Product.ImageFile">Upload Image</label>
            <input type="file" name="Product.ImageFile" id="Product.ImageFile" class="form-control-file">
            <span asp-validation-for="Product.ImageFile" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}