@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ScooterCreateViewModel

@{
    ViewData["Title"] = "Create Scooter";
}

<div class="container">
    <h2 class="cool-font2 mt-4">Add Scooter</h2>

    <form asp-area="" asp-action="Create" asp-controller="Scooter" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Product.Name"></label>
            <input asp-for="Product.Name" class="form-control" placeholder="Enter name here..." />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.Price"></label>
            <input asp-for="Product.Price" class="form-control" placeholder="Enter price here..." />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.Quantity"></label>
            <input asp-for="Product.Quantity" type="number" class="form-control" placeholder="Enter initial quantity here..." />
            <span asp-validation-for="Product.Quantity" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Brand"></label>
            <input asp-for="Brand" class="form-control" placeholder="Enter the scooter brand name here..." />
            <span asp-validation-for="Brand" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Model"></label>
            <input asp-for="Model" class="form-control" placeholder="Enter the scooter scooterModel here..."></input>
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Color"></label>
            <input asp-for="Color" class="form-control" placeholder="Enter the scooter color here..."/>
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="Battery"></label>
            <input asp-for="Battery" class="form-control" placeholder="Enter the battery information here..." />
            <span asp-validation-for="Battery" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Range">Range (km):</label>
            <input asp-for="Range" type="number" class="form-control" placeholder="Enter the range in km here..." />
            <span asp-validation-for="Range" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TopSpeed">Top Speed (km):</label>
            <input asp-for="TopSpeed" type="number" class="form-control" placeholder="Enter the top speed in km here..." />
            <span asp-validation-for="TopSpeed" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Weight">Weight (kg):</label>
            <input asp-for="Weight" type="number" class="form-control" placeholder="Enter the weight in kg here..." />
            <span asp-validation-for="Weight" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TireSize">Tire Size (inch):</label>
            <input asp-for="TireSize" type="number" class="form-control" placeholder="Enter the tire size in inches here..." />
            <span asp-validation-for="TireSize" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ChargingTime">Charging Time (hours):</label>
            <input asp-for="ChargingTime" type="number" class="form-control" placeholder="Enter the charging time in hours here..." />
            <span asp-validation-for="ChargingTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EnginePower">EnginePower (watt):</label>
            <input asp-for="EnginePower" type="number" class="form-control" placeholder="Enter the engine power in watts here..." />
            <span asp-validation-for="EnginePower" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MaxLoad">Max Load (kg):</label>
            <input asp-for="MaxLoad" type="number" class="form-control" placeholder="Enter the max load in kg here..." />
            <span asp-validation-for="MaxLoad" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="ScooterType"></label>
                <select asp-for="ScooterType" class="form-control">
                    <option value="0">Select Scooter Type</option>
                    <option value="1">Lightweight</option>
                    <option value="2">Off Road</option>
                    <option value="3">Vespa Style</option>
                    <option value="4">Long Range</option>
                    <option value="5">Performance</option>
                    <option value="6">Sit Down</option>
                </select>
                <span asp-validation-for="ScooterType" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="EngineType"></label>
                <select asp-for="EngineType" class="form-control">
                    <option value="0">Select Engine Type</option>
                    <option value="1">Single Motor</option>
                    <option value="2">Dual Motor</option>
                </select>
                <span asp-validation-for="EngineType" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="BrakesType"></label>
                <select asp-for="BrakesType" class="form-control">
                    <option value="0">Select Brakes Type</option>
                    <option value="1">Electric</option>
                    <option value="2">Mechanical</option>
                    <option value="3">Hydraulic</option>
                </select>
                <span asp-validation-for="BrakesType" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group mt-5">
            <label for="Product.ImageFile">Upload Image</label>
            <input type="file" name="Product.ImageFile" id="Product.ImageFile" class="form-control-file">
            <span asp-validation-for="Product.ImageFile" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}